/*This code is for styling isuue/reisuue/return page*/
.icontainer{
   
    background-image: url('../images/iirbg.jpg');
    background-repeat:no-repeat;
    background-size: cover; 
}




 
.ibox{
    box-sizing: border-box;
    border-color: #acacac;
    border-width: 1px;
    border-style:solid;
    top:20%;
    margin-left:35%;
    max-height:80%;
    background-color: rgb(255, 255, 255);
    width:30%;
    display:inline-block;
    position:absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(63, 63, 63);
}




  .dheads{
    color:#000;
    font-size: 1.3vw;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display:inline-block;
    width:35%;
  }

 

  .dnbox{
    font-size: 1vw;
    border-radius: 5px;
    border: solid;
    border-width: 1.7px;
    border-color:rgb(0, 0, 0);
    width: fix-content;
    display: flex, inline-block;
    flex-direction: column;
    margin-left: 2%;
    
   
    
  }

  .dnbox1{
    font-size: 1vw;
    border-radius: 5px;
    border: solid;
    border-width: 1.7px;
    border-color:rgb(0, 0, 0);
    width: 50%;
    display: flex, inline-block;
    flex-direction: column;
    margin-left: 2%;

  }




  .dnbox:hover{
    background-color:rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 1.7px;
    color: #000000;
  }

  .irr{
    max-width: 5%;
    max-height: 5%;
    margin-left:15%;
   
    
  }
  .purposE{
    font-size: 1.5vw;
    margin-top:4%;
    display:inline-block;
  }
  .iith{
    max-width: 20%;
    display:inline;
    margin-left: 35%;
  }

  .dbutton{
    background-color: #004cff;
    border-color: #4000ff;
    border-style: none;
    border-radius: 4px;
    color:white;
    padding: 5px 5px 5px 5px;
    margin-left:20%;
    margin-bottom: 5%;
    margin-right: 0px;
    font-size: 1vw;
    cursor: pointer;
    display: inline;
  }

  .dbutton:hover , .dback:hover{
    background-color: #002fff;
    transition: 0.2s;
    box-shadow: 3px 3px 3px #acacac;
  }

  .dback{
    text-decoration: none;
    border: 1px solid black;
    font-size: 1vw;
    cursor: pointer;
    display: inline;
    padding: 5px 5px 5px 5px;
    margin-left: 10%;
    border-style: none;
    border-radius: 4px;
    background-color: #004cff;
    border-color: #4000ff;
    color:white;
    font-family: arial;
  }

  #email::placeholder {
    opacity: 0;
}

#email:hover::placeholder {
    opacity: 1;
}

#bookname::placeholder {
  opacity: 0;
}

#bookname:hover::placeholder {
  opacity: 1;
}

#authorname::placeholder {
  opacity: 0;
}

#authorname:hover::placeholder {
  opacity: 1;
}


