.back-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgroundnew.webp');
    background-repeat: no-repeat;
    background-size: cover;
    z-index : -1;
    filter: blur(0px); 
    z-index: 0;  
}

.back-image1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bgsn.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index : -1;
    filter: blur(0px); 
    z-index: 0;  
}



.box{
    background-color: white;
    height:550px;
    width:900px;
    left: 300px;
    margin-left: 300px;
    margin-top: 150px;
    box-shadow: 10px 10px 10px black;
    z-index: 0;
    border: 2px solid #ffffff;
    border-width: 2px;
    border-radius: 30px;

}

.box1{
    background-color: white;
    height:600px;
    width:900px;
    left: 300px;
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: -10px 10px 17px rgb(0, 0, 0);
    z-index: 0;
    border: 2px solid #ffffff;
    border-width: 2px;
    border-radius: 30px;

}



.userlogin{
    height:100px;
    margin-top: 0px;
    background-size: cover;
    padding-left: 80px;
}


.filed{
    color:rgb(255, 35, 35);
    border-color: rgb(1, 1, 130);
    border-radius: 10px;
    height:380px;
    width:400px;
    

}


.filed1{
    color:rgb(255, 35, 35);
    border-color: rgb(1, 1, 130);
    border-radius: 10px;
    height:500px;
    width:400px;
    
    

}
.inbox{
    color:black;
    font-weight: 500;
    padding-left: 60px;
    border-radius: 10px;
    font-size: x-large;

    
    
}
.names {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px 90px 10px 10px;
    flex: 1;
    font-size: medium;
  }
  
 
  
  .names:hover {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
  }
  
 
  

.loginbox{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 600;
    

}
.para{
    margin-top: 10px;
    margin-left: 40px;
    font-size: large;
}
.signup{
    color:rgb(1, 1, 95);
    cursor: pointer;
    font-weight: 550;
    text-decoration: none;
}

.signup:hover{
    color:red;
}

.submit{
    padding: 10px 10px 10px 10px;
    background-color: green;
    border-radius: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    border:solid;
    margin-left: 200px;

}
.submit1{
    padding: 10px 10px 10px 10px;
    background-color: rgb(19, 49, 197);
    border-radius: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    border:solid;
    margin-left: 200px;

}

.submit:hover,.submit1:hover{
    opacity:0.8;
    color:white;
    transition: opacity 0.15s;
}
.submit:active{
    background-color: rgb(7, 176, 7);
}


.login{
   
    display: flex;
    height:400px;
    width:450px;
    background-color: rgb(255, 255, 255);
    opacity:0.9;
    margin-left: 15px;
    display: inline-block;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    
}

.login1{
   
    display: flex;
    height:400px;
    width:450px;
    background-color: rgb(255, 255, 255);
    opacity:0.9;
    margin-left: 450px;
    display: inline-block;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    
}

.sidepic {
   
    position: absolute;
    top:400px;
    left: 800px; /* Adjust the left value to position the image horizontally */
    width: 400px; /* Adjust the width as per your desired dimensions */
    height: auto; /* Adjust the height as per your desired dimensions or set a fixed height */
    transform: translate(0, -50%); 
   
   
  }


  .sidepic1{
    position: absolute;
    top:50%;
    left: 125px; /* Adjust the left value to position the image horizontally */
    width: 400px; /* Adjust the width as per your desired dimensions */
    height: auto; /* Adjust the height as per your desired dimensions or set a fixed height */
    transform: translate(0, -50%); 

  }

  #email::placeholder {
    opacity: 0;
}

#email:hover::placeholder {
    opacity: 1;
}

#password::placeholder {
    opacity: 0;
}

#password:hover::placeholder {
    opacity: 1;
}

#confirmPassword::placeholder {
    opacity: 0;
}

#confirmPassword:hover::placeholder {
    opacity: 1;
}



#name::placeholder{
    opacity:0;
}

#name:hover::placeholder {
   
    opacity: 1;
  }
  
  #id::placeholder{
    opacity:0;
}

#id:hover::placeholder {
   
    opacity: 1;
  }
 



